body {
    background: NavajoWhite;
}

aside {
    float: center;
    background: SaddleBrown;
    wid: 20%;
    padding: 2.5%;
    height: 20vh;
    color: Maroon;
    border-right: 5px Red;

}
aside img {
    wid: 2px;
    float: center;
}

aside .logo {
    font-size: 60px;
    margin-left: 600px;
    font-weigh: bold;
    position: relative;
    top: 10px;
    text-align: center;
}

aside ul {list-style: none}
aside ul li {
    color: Black;
    display: block;
    margin-top: 15px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover{
    color: Red;
    text-decoration: none;
    transform: scale(1.05);
}