.u-section-1 .u-sheet-1 {
  min-height: 1331px;
}

.u-section-1 .u-text-1 {
  font-family: "Archivo Black";
  margin-top: 22px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-repeater-1 {
  min-height: 563px;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 333px;
  object-position: 50% 0%;
  width: 250px;
  margin: 14px 15px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 2.1875rem;
  margin: 36px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 10px 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 14px 168px 0 10px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 0 184px 0 10px;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  margin: 3px 168px 0 10px;
}

.u-section-1 .u-text-7 {
  line-height: 1.92;
  font-weight: 400;
  font-size: 1rem;
  margin: 0 236px 0 10px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 333px;
  object-position: 50% 0%;
  width: 250px;
  margin: 14px 15px 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 2.1875rem;
  margin: 36px 0 0;
}

.u-section-1 .u-text-9 {
  margin: 20px 10px 0;
}

.u-section-1 .u-text-10 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 14px 168px 0 10px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 0 184px 0 10px;
}

.u-section-1 .u-text-12 {
  font-size: 0.875rem;
  margin: 3px 168px 0 10px;
}

.u-section-1 .u-text-13 {
  line-height: 1.92;
  font-weight: 400;
  font-size: 1rem;
  margin: 0 236px 0 10px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  height: 333px;
  object-position: 50% 0%;
  width: 250px;
  margin: 14px 15px 0 auto;
}

.u-section-1 .u-text-14 {
  font-size: 2.1875rem;
  margin: 36px 0 0;
}

.u-section-1 .u-text-15 {
  margin: 20px 10px 0;
}

.u-section-1 .u-text-16 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 14px 168px 0 10px;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  margin: 0 184px 0 10px;
}

.u-section-1 .u-text-18 {
  font-size: 0.875rem;
  margin: 3px 168px 0 10px;
}

.u-section-1 .u-text-19 {
  line-height: 1.92;
  font-weight: 400;
  font-size: 1rem;
  margin: 0 236px 0 10px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  height: 333px;
  object-position: 50% 0%;
  width: 250px;
  margin: 14px 15px 0 auto;
}

.u-section-1 .u-text-20 {
  font-size: 2.1875rem;
  margin: 36px 0 0;
}

.u-section-1 .u-text-21 {
  margin: 20px 10px 0;
}

.u-section-1 .u-text-22 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 14px 168px 0 10px;
}

.u-section-1 .u-text-23 {
  font-weight: 700;
  margin: 0 184px 0 10px;
}

.u-section-1 .u-text-24 {
  font-size: 0.875rem;
  margin: 3px 168px 0 10px;
}

.u-section-1 .u-text-25 {
  line-height: 1.92;
  font-weight: 400;
  font-size: 1rem;
  margin: 0 236px 0 10px;
}

.u-section-1 .u-list-2 {
  margin-top: 29px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-2 {
  min-height: 563px;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  height: 333px;
  object-position: 50% 0%;
  width: 250px;
  margin: 14px 15px 0 auto;
}

.u-section-1 .u-text-26 {
  font-size: 2.1875rem;
  margin: 36px 0 0;
}

.u-section-1 .u-text-27 {
  margin: 20px 10px 0;
}

.u-section-1 .u-text-28 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 14px 168px 0 10px;
}

.u-section-1 .u-text-29 {
  font-weight: 700;
  margin: 0 184px 0 10px;
}

.u-section-1 .u-text-30 {
  font-size: 0.875rem;
  margin: 3px 168px 0 10px;
}

.u-section-1 .u-text-31 {
  line-height: 1.92;
  font-weight: 400;
  font-size: 1rem;
  margin: 0 236px 0 10px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  height: 333px;
  object-position: 50% 0%;
  width: 250px;
  margin: 14px 15px 0 auto;
}

.u-section-1 .u-text-32 {
  font-size: 2.1875rem;
  margin: 36px 0 0;
}

.u-section-1 .u-text-33 {
  margin: 20px 10px 0;
}

.u-section-1 .u-text-34 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 14px 168px 0 10px;
}

.u-section-1 .u-text-35 {
  font-weight: 700;
  margin: 0 184px 0 10px;
}

.u-section-1 .u-text-36 {
  font-size: 0.875rem;
  margin: 3px 168px 0 10px;
}

.u-section-1 .u-text-37 {
  line-height: 1.92;
  font-weight: 400;
  font-size: 1rem;
  margin: 0 236px 0 10px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-image-7 {
  height: 333px;
  object-position: 50% 0%;
  width: 250px;
  margin: 14px 15px 0 auto;
}

.u-section-1 .u-text-38 {
  font-size: 2.1875rem;
  margin: 36px 0 0;
}

.u-section-1 .u-text-39 {
  margin: 20px 10px 0;
}

.u-section-1 .u-text-40 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 14px 168px 0 10px;
}

.u-section-1 .u-text-41 {
  font-weight: 700;
  margin: 0 184px 0 10px;
}

.u-section-1 .u-text-42 {
  font-size: 0.875rem;
  margin: 3px 168px 0 10px;
}

.u-section-1 .u-text-43 {
  line-height: 1.92;
  font-weight: 400;
  font-size: 1rem;
  margin: 0 236px 0 10px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-image-8 {
  height: 333px;
  object-position: 50% 0%;
  width: 250px;
  margin: 14px 15px 0 auto;
}

.u-section-1 .u-text-44 {
  font-size: 2.1875rem;
  margin: 36px 0 0;
}

.u-section-1 .u-text-45 {
  margin: 20px 10px 0;
}

.u-section-1 .u-text-46 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 14px 168px 0 10px;
}

.u-section-1 .u-text-47 {
  font-weight: 700;
  margin: 0 184px 0 10px;
}

.u-section-1 .u-text-48 {
  font-size: 0.875rem;
  margin: 3px 168px 0 10px;
}

.u-section-1 .u-text-49 {
  line-height: 1.92;
  font-weight: 400;
  font-size: 1rem;
  margin: 0 236px 0 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 513px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: -27px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 36px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 36px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 26px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 36px;
  }

  .u-section-1 .u-text-9 {
    margin-right: -27px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 36px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 36px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 26px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 36px;
  }

  .u-section-1 .u-text-15 {
    margin-right: -27px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 36px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 36px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 26px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 36px;
  }

  .u-section-1 .u-text-21 {
    margin-right: -27px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 36px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 36px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 26px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 36px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 464px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-28 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-29 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-30 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-31 {
    margin-right: 46px;
    margin-left: 0;
  }

  .u-section-1 .u-text-33 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-34 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-35 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-36 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-37 {
    margin-right: 46px;
    margin-left: 0;
  }

  .u-section-1 .u-text-39 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-40 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-41 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-42 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-43 {
    margin-right: 46px;
    margin-left: 0;
  }

  .u-section-1 .u-text-45 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-46 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-47 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-48 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-49 {
    margin-right: 46px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
  }

  .u-section-1 .u-text-24 {
    margin-right: 0;
  }

  .u-section-1 .u-text-25 {
    margin-right: 0;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 1422px;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-1 .u-text-31 {
    margin-right: 0;
  }

  .u-section-1 .u-text-37 {
    margin-right: 0;
  }

  .u-section-1 .u-text-43 {
    margin-right: 0;
  }

  .u-section-1 .u-text-49 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-14 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-20 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-26 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-32 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-38 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-44 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-14 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-20 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-26 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-32 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-38 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-44 {
    font-size: 1.5rem;
  }
}