<!DOCTYPE html>
<html lang="en">
<head>
    <title>Django Display Images</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
        {% for cloth in Cloth %}
            <tr>
                <td>{{ cloth.name_of_cloth }}</td>
                <td>
                    {% for images in cloth.path_to_image %}
                        <img src="/{{ BASE_DIR }}cloth_image/{{ images }}" width="120" alt=""/>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>